{% extends "layout.html" %}

{% block title %}
    Password Change
{% endblock %}

{% block main %}

<div class="container border-secondary w-75">
    <div class="card-deck text-center">
        <div class="card mb-2 shadow-sm bg-shade">
            <div class="card-header">
                <div class="h2 text-white">Change Your Password</div>
            </div>
        </div>
    </div>
</div>

<div class="container border-secondary w-75">
    <div class="card-deck mb-2 text-center">
        <div class="card mb-2 shadow-sm bg-shade">
            <div class="card-body">
                <form action="/change_password" method="post">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" id="curr_password" name="curr_password" placeholder="Current Password" type="password">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="new_password" name="new_password" placeholder="New Password" type="password">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="conf_password" name="conf_password" placeholder="Confirm Password" type="password">
                    </div>
                    <button class="btn btn-darkpurple btn-lg" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

    <script>
        document.querySelector('form').onsubmit = function() {
            var curr_password = document.getElementById("curr_password");
            var new_password = document.getElementById('new_password');
            var conf_password = document.getElementById('conf_password');

            event.preventDefault();

            if (curr_password.value == "") {
                alert("Please input your current password");
            }
            else if (new_password.value == "") {
                alert("Please input a new password");
            }
            else if (conf_password.value == "") {
                alert("Please confirm your new password");
            }
            else if (conf_password.value != new_password.value) {
                alert("Passwords do not match");
            }
            else {
                document.querySelector('form').submit();
            }
        };
    </script>
{% endblock %}